.filters {
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.filters .filter-title {
  font-weight: bold;
  margin-bottom: 15px;
}
.filters .btn {
  background-color: #003399;
  border: none;
}
.filters .btn:hover {
  background-color: #001d66;
}
